@model ExercicioMVC01.Presentation.Models.FuncionarioCadastroModel

@{
    ViewData["Title"] = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5>Cadastro de funcionário</h5>
<p>
    Preencha o formulário para incluir um funcionário.
</p>

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-12">

            <label>Nome do funcionário:</label>
            @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
            <span class="text-danger">
                @Html.ValidationMessageFor(model => model.Nome)
            </span>
            

        </div>
        
    </div>


    <div class="row mt-2">
        <div class="col-md-4">

            <label>CPF:</label>
            @Html.TextBoxFor(model => model.Cpf, new { @class = "form-control" })
            <span class="text-danger">
                @Html.ValidationMessageFor(model => model.Cpf)
            </span>

        </div>
        
        <div class="col-md-4">

            <label>Matrícula:</label>
            @Html.TextBoxFor(model => model.Matricula, new { @class = "form-control" })
            <span class="text-danger">
                @Html.ValidationMessageFor(model => model.Matricula)
            </span>

        </div>

        <div class="col-md-4">

            <label>Salário:</label>
            @Html.TextBoxFor(model => model.Salario, new { @class = "form-control" })
            <span class="text-danger">
                @Html.ValidationMessageFor(model => model.Salario)
            </span>

        </div>

    </div>

    <br/>

    <input type="submit" value="Realizar Cadastro"
           class="btn btn-outline-success"/>

}

